<h2> Welcome to the tutors index page: </h2>

<ul>
  <% tutor.forEach(function(tutor)  { %>
      <li><a href="/tutor/show/<%= tutor.id %>"> <%= tutor.firstName %> </a> : <%= tutor.lastName %></li>
  <% }); %>
