<h2> Welcome to the students index page: </h2>

<ul>
  <% student.forEach(function(student)  { %>
      <li><a href="/student/show/<%= student.id %>"> <%= student.firstName %> </a> : <%= student.lastName %></li>
  <% }); %>
